* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    font-size: 1.6rem;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(145deg, #f6e4f8, #a788a8);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.calc {
    margin: 3rem auto;
    padding: 1.5rem;
    width: 40vw;
    border-radius: 1.5rem;
    z-index: 10;
    background: linear-gradient(145deg, #d292d8, #7a5d7a);
    box-shadow: 1px 1px 5px #563e57, -2px -2px 15px #e1c3e4;
}
.display input {
    width: 100%;
    padding: 5rem 2rem;
    margin: 2rem 0;
    border-radius: 1.5rem;
    border: 1px solid #7e0760;
    background: linear-gradient(145deg, #ffffff, #e2e1e2);
    box-shadow: 1px 1px 5px #3b193b, -1px -1px 5px #ecb3ee;
}
.container {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}

.btn {
    padding: 4rem;
    background-color: #e8d2e9;
    color: #000;
    margin: 0.5rem;
    font-size: 4rem;
    border: none;
    border-radius: 1rem;
    background: linear-gradient(145deg, #feefff, #cbaecc);
    box-shadow: 1px 1px 1px #251025, -1px -1px 1px #fabdfa;
}

.operator {
    border-radius: 1rem;
    background: linear-gradient(145deg, #a516a5, #720672);
    box-shadow: 1px 1px 1px #1d021d, -1px -1px 1px #e7a1e7;
    color: #fff;
}

.orange {
    border-radius: 1rem;
    background: linear-gradient(145deg, #db87db, #794b79);
    box-shadow: 1px 1px 1px #1b011b, -1px -1px 1px #faa2fa;
    color: #fff;
}
